@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-card {
  @apply bg-black/90 rounded-md px-3 py-1 w-full flex justify-center;
}
.hover-like {

  @apply hover:text-red-500 hover:border-black/90 hover:bg-black/90 
}

.swiper .swiper-pagination-bullet {
  @apply w-2 h-2 bg-gray-400;
}
.swiper .swiper-pagination-bullet-active {
  @apply bg-blue-400;
}


/* Contenedor con scroll */
.scroll-container::-webkit-scrollbar {
  width: 8px;  /* grosor vertical */
  height: 8px; /* grosor horizontal */
}

/* Fondo de la barra */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Parte que se mueve */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Hover sobre la barra */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
